*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background: rgb(2,0,36);
background: radial-gradient(circle, rgb(2, 0, 36) 0%, rgba(153, 44, 200, 0.596) 20%, rgba(202, 58, 255, 0.974) 40%, rgba(211,52,255,0.9948354341736695) 50%, rgba(0,212,255,1) 100%);
}
form{
   color: white;
   text-align: center;
   display: flex;
   margin: 100px auto;
   flex-direction: column;
   width: 31.25rem;
   font-family:sans-serif;
   border-radius: 20px;
   gap: 15px;
   padding: 30px;
   font-size: 14px;
   background: rgba(28, 73, 255, 0.502);
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 20px );
   -webkit-backdrop-filter: blur( 20px );
   border-radius: 10px;
   border: transparent ;
}
form button{
   padding: 5px;
   border: 1px solid #fff;
   border-radius: 10px;
   cursor: pointer;
   transition: 0.7s;
}
button:hover{
   background-color:rgba(165, 17, 165, 0.826) ;
   color: white;
   transition: 0.7s;
   border: transparent;
}
form input {
   padding: 7px;
   border: transparent;
   border-radius: 10px;
   background-color: #121221;
   margin-top: 5px;
   color: white;
}
form p{
   color:rgb(255, 251, 8);
   font-weight: bold;
   font-size: 16px;
}
h5{
   font-size: 14px;
   font-weight: bold;
   color: yellow;
}
.caixa,.caixa-acompanhante{
   display: flex;
   flex: 1 50px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 16px;
   text-align: center;
   justify-content: center;
}
.caixa div{

   margin:10px;
}
.caixa-acompanhante div{
   margin: 10px;
}

